/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
.center{
  text-align: center;
}

.card{
  width: 400px;
  height: auto;
  margin: 0 auto;
  border: 2px solid black;
  padding: 50px;
}

ul{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
li{
  list-style: none;
}

.answers{
  display: flex;
  flex-direction: column;
}

input{
  order: ;
  margin: 10px;
}